.footer-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
  
  .footer-image {
    width: 150px;
    height: auto; 
    margin-left: 10px;
  }
  