.mentor-list-container {
  width: 60%;
  margin: auto;
  display:block;
  flex-wrap:inherit;
  justify-content: space-between; /* Change from space-around to space-between */
}

.card {
  background-color: white;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}

.photo-container {
  background-color: #f8e0e0;
  padding: 10px;
  border-radius: 2px;
  width: 150px;
}

.photo {
  width: 40%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.text-container {
  margin-top: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
}

.skill-item {
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
}
